* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    height: 50px;
    width: 80%;
    position: fixed;
    display: flex;
    justify-content: center;
    gap: 15rem;
    margin-top: 15px;
    margin-left: 165px;

} 

nav {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    gap: 8rem;
    list-style: none;
    font-size:1.3rem ;
    font-family: 'Kanit';
    margin-right: 150px;
}

li {
    color: black;
}

a {
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 100px;
}

.logo img{
    width: 80px;
    height: 80px;
}

.logo h2 {
    font-family: 'Quicksand';
}

.home {
    height: 53rem;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(https://i.pinimg.com/564x/ac/32/40/ac32405cdd2f238a61709713d6d43f02.jpg);
    background-size: cover;
    background-position: 0;
    Background-attachment:fixed;
    background-repeat: no-repeat;
}

.home h1 {
    font-size: 50px;
    color: black;
    font-family:cursive;
}

.home h2 {
    color: white;
    font-family: monospace;
    font-size: 60px;
}

.home span {
    font-size: 60px;
    margin-left: 50px;
}

button {
    background-color: rgb(47, 191, 210);
    border: none;
    padding: 10px 30px;
    border-radius: 16px;
    transition: all 0.3s;
}

.home a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

main {
    height: 750px;
    display: flex;
    justify-content: end;
    background: linear-gradient(55deg, #30bbb2 0%, #29d8ec 51%, #2cb5e8 85%);
    background-repeat: no-repeat;
}

.main {
    margin-top: 90px;
    margin-right: 80px;
}

.main h1 {
    font-size: 55px;
    margin-bottom: 75px;
}

.main b {
    font-size: 200%;
    color: white;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 20px;
    width: 400px;
    height: 500px;
    margin-right: 220px;
    margin-top: 98px;
    box-shadow: 0 0  10px black;
}

.card img {
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.lkll {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main h1 {
    font-family: 'Cabin';
}

.main b {
    font-family: 'Roboto';
}

section {
    display: flex;
    height: 500px;
    background-color: rgb(45, 212, 231);
}

.skills {
    display: flex;
}

footer {
    height: 500px;
} 

